/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/

.mycard {
    width: 60%;
    height: 80px;
    /*margin-top: 50px;*/
    margin-bottom: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.mycard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: auto;
    margin-top: 100px;
}
/*
.navbar-transparent {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}
*/
.h5{
    text-align: center;
}


.hp{
    text-align: justify;
    align-items: center;
}

.btn{
    text-align: center;
}


html, body {
    margin: 0; 
    height: 100%; 
    /*overflow: hidden*/
}

input {
    margin-bottom: 25px;
}
/*
.body {
    /*background: linear-gradient(-4deg, lightblue,#1a1a1a, blue, #2c2c2c);*/
 /*   background: linear-gradient(-4deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*/